{% extends 'base/base.html' %}
{% load static %}
{% block title %}<title>Blood Bank</title>{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <div id="js_frm_031" class="carousel slide ps_control_xlongicon swipe_x ps_easeOutInCubic" data-ride="carousel" data-pause="hover" data-interval="4000" data-duration="2000">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="{% static 'img/slider1.jpeg' %}" alt="slider_img" />
                    {% include 'base/logged_in.html' %}
                </div>
            </div>
        </div>
    {% else %}
        <div id="js_frm_031" class="carousel slide ps_control_xlongicon swipe_x ps_easeOutInCubic" data-ride="carousel" data-pause="hover" data-interval="4000" data-duration="2000">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="{% static 'img/slider1.jpeg' %}" alt="slider_img" />
                    {% include 'base/index_login.html' %}
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/slider_3.jpg' %}" alt="slider_img" />
                    {% include 'base/index_login.html' %}
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/slider2.jpeg' %}" alt="slider_img" />
                    {% include 'base/index_login.html' %}
                </div>
            </div>
            <!-- End of Wrapper For Slides -->
            <!-- Left Control -->
            <a class="carousel-control-prev" href="#js_frm_031" role="button" data-slide="prev">
                <span class="fa fa-long-arrow-left" aria-hidden="true"></span>
            </a>
            <!-- Right Control -->
            <a class="carousel-control-next" href="#js_frm_031" role="button" data-slide="next">
                <span class="fa fa-long-arrow-right" aria-hidden="true"></span>
            </a>
        </div>
    {% endif %}
    <!-- End Paradise Slider -->

    <!-- Start feature-cat Area -->
    <section class="feature-cat-area section-full" id="category">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-10">
                    <div class="title text-center">
                        <h1 class="mb-10">Featured Job Categories</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-fcat">
                        <a href="category.html">
                            <img src="{% static 'img/o1.png' %}" alt="">
                        </a>
                        <p>Accounting</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-fcat">
                        <a href="category.html">
                            <img src="{% static 'img/o2.png' %}" alt="">
                        </a>
                        <p>Development</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-fcat">
                        <a href="category.html">
                            <img src="{% static 'img/o3.png' %}" alt="">
                        </a>
                        <p>Technology</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-fcat">
                        <a href="category.html">
                            <img src="{% static 'img/o4.png' %}" alt="">
                        </a>
                        <p>Media & News</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-fcat">
                        <a href="category.html">
                            <img src="{% static 'img/o5.png' %}" alt="">
                        </a>
                        <p>Medical</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-fcat">
                        <a href="category.html">
                            <img src="{% static 'img/o6.png' %}" alt="">
                        </a>
                        <p>Goverment</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End feature-cat Area -->

    <!-- Start post Area -->
    <section class="post-area section-full bg-gray">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-10">
                    <div class="title text-center">
                        <h1 class="mb-10">Jobs Available</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center d-flex">
                <div class="col-lg-8 post-list">
                    {% for post in  page_obj %}
                        <div class="single-post d-flex flex-row">
                        <div class="thumb">
                            <img src="{% static 'img/o1.png' %}" alt="">
                        </div>
                        <div class="details">
                            <div class="title d-flex flex-row justify-content-between">
                                <div class="titles">
                                    <h4><span style="color: red">{{ post.blood_group }}</span> Blood Needed at <span style="color: orange">{{ post.hospital }}</span></h4>
                                    <h6>{{ post.details }}</h6>
                                </div>
                            </div>
                            <div class="job-listing-footer">
                                <ul>
                                    <li><i class="lnr lnr-map-marker"></i> {{ post.location }}</li>
                                    <li><i class="lnr lnr-phone-handset"></i> {{ post.contact }}</li>
                                    <li><i class="lnr lnr-pencil"></i> {{ post.user }}</li>
                                    <li><i class="lnr lnr-calendar-full"></i> {{ post.date }}</li>
                                    {% if request.user.is_authenticated %}
                                        {% if request.user.id == post.user.id %}
                                            <li>
                                                {% if post.managed == 'No' %}
                                                    <form method="post" action="{% url 'managed' post.id %}">
                                                        {% csrf_token %}
                                                        <button name="managed" type="submit" value="yes" style="color: orangered;">Click if Managed</button>
                                                    </form>
                                                {% else %}
                                                    <label class="btn-disabled" style="font-weight: bold; color: red;">Found</label>
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
{#                Pagination#}
                    {% if page_obj.has_previous %}
                        <div class="pagination">
                            <label class="text-uppercase loadmore-btn mx-auto d-block">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1">first</a>
                                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}

                                {% comment %}<span class="current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>{% endcomment %}

                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
                                {% endif %}
                            </label>
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-4 sidebar">
                    <div class="single-slidebar">
                        <h4>Blood Donors From</h4>
                        <ul class="cat-list">
                        {% for n in info %}
                            <li>
                                <label class="justify-content-between d-flex" href="category.html">
                                    <p>{{ n }}</p>
                                </label>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="single-slidebar">
                        <h4>Top rated job posts</h4>
                        <div class="active-relatedjob-carusel">
                            <div class="single-rated">
                                <img class="img-fluid" src="{% static 'img/r1.jpg' %}" alt="">
                                <a href="single.html"><h4>Creative Art Designer</h4></a>
                                <h6>Premium Labels Limited</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
                                </p>
                                <h5>Job Nature: Full time</h5>
                                <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
                                <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
                                <a href="#" class="btns text-uppercase">Apply job</a>
                            </div>
                            <div class="single-rated">
                                <img class="img-fluid" src="{% static 'img/r1.jpg' %}" alt="">
                                <a href="single.html"><h4>Creative Art Designer</h4></a>
                                <h6>Premium Labels Limited</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
                                </p>
                                <h5>Job Nature: Full time</h5>
                                <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
                                <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
                                <a href="#" class="btns text-uppercase">Apply job</a>
                            </div>
                            <div class="single-rated">
                                <img class="img-fluid" src="{% static 'img/r1.jpg' %}" alt="">
                                <a href="single.html"><h4>Creative Art Designer</h4></a>
                                <h6>Premium Labels Limited</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
                                </p>
                                <h5>Job Nature: Full time</h5>
                                <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
                                <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
                                <a href="#" class="btns text-uppercase">Apply job</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-slidebar">
                        <h4>Carrer Advice Blog</h4>
                        <div class="blog-list">
                            <div class="single-blog " style="background:#000 url({% static 'img/blog1.jpg' %});">
                                <a href="single.html"><h4>Home Audio Recording <br>
                                    For Everyone</h4></a>
                                <div class="meta justify-content-between d-flex">
                                    <p>
                                        02 Hours ago
                                    </p>
                                    <p>
                                        <span class="lnr lnr-heart"></span>
                                        06
                                        <span class="lnr lnr-bubble"></span>
                                        02
                                    </p>
                                </div>
                            </div>
                            <div class="single-blog " style="background:#000 url({% static 'img/blog2.jpg' %});">
                                <a href="single.html"><h4>Home Audio Recording <br>
                                    For Everyone</h4></a>
                                <div class="meta justify-content-between d-flex">
                                    <p>
                                        02 Hours ago
                                    </p>
                                    <p>
                                        <span class="lnr lnr-heart"></span>
                                        06
                                        <span class="lnr lnr-bubble"></span>
                                        02
                                    </p>
                                </div>
                            </div>
                            <div class="single-blog " style="background:#000 url({% static 'img/blog1.jpg' %});">
                                <a href="single.html"><h4>Home Audio Recording <br>
                                    For Everyone</h4></a>
                                <div class="meta justify-content-between d-flex">
                                    <p>
                                        02 Hours ago
                                    </p>
                                    <p>
                                        <span class="lnr lnr-heart"></span>
                                        06
                                        <span class="lnr lnr-bubble"></span>
                                        02
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End post Area -->

    <!-- Start Cities Area -->
    <section class="featured-cities-area section-full" id="Cities">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-10">
                    <div class="title text-center">
                        <h1 class="mb-10">Featured Cities</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <a href="" class="photo-box" data-background-image="{% static 'img/featured-city-01.jpeg' %}" style="background-image: url({% static 'img/featured-city-01.jpeg' %});">
                        <div class="photo-box-content">
                            <h3>San Francisco</h3>
                            <span>376 Jobs</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-12">
                    <a href="" class="photo-box" data-background-image="{% static 'img/featured-city-02.jpeg' %}" style="background-image: url({% static 'img/featured-city-02.jpeg' %});">
                        <div class="photo-box-content">
                            <h3>Los Angles</h3>
                            <span>1076 Jobs</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-12">
                    <a href="" class="photo-box" data-background-image="{% static 'img/featured-city-03.jpeg' %}" style="background-image: url({% static 'img/featured-city-03.jpeg' %});">
                        <div class="photo-box-content">
                            <h3>Dubai</h3>
                            <span>976 Jobs</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-12">
                    <a href="" class="photo-box" data-background-image="{% static 'img/featured-city-04.jpeg' %}" style="background-image: url({% static 'img/featured-city-04.jpeg' %});">
                        <div class="photo-box-content">
                            <h3>London</h3>
                            <span>650 Jobs</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End cities Area -->

    <!-- Start callto-action Area -->
    <section class="callto-action-area section-half" id="join">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content col-lg-9">
                    <div class="title text-center">
                        <h1 class="mb-10 text-white">Join us today without any hesitation</h1>
                        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                        <a class="primary-btn" href="#">I am a Candidate</a>
                        <a class="primary-btn" href="#">Request Free Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End calto-action Area -->

    <!-- Start download Area -->
    <section class="download-area section-gap" id="app">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 download-left">
                    <img class="img-fluid" src="{% static 'img/d1.png' %}" alt="">
                </div>
                <div class="col-lg-6 download-right">
                    <h1>Download the <br>
                        Job Listing App Today!</h1>
                    <p class="subs">
                        It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its popularity and technological advancement are concerned.
                    </p>
                    <div class="d-flex flex-row">
                        <div class="buttons">
                            <i class="fa fa-apple" aria-hidden="true"></i>
                            <div class="desc">
                                <a href="#">
                                    <p>
                                        <span>Available</span> <br>
                                        on App Store
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="buttons">
                            <i class="fa fa-android" aria-hidden="true"></i>
                            <div class="desc">
                                <a href="#">
                                    <p>
                                        <span>Available</span> <br>
                                        on Play Store
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End download Area -->

    <!-- Start pricing Area -->
    <section class="section-full pricing_plan" id="pricing_plan">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-10">
                    <div class="title text-center">
                        <h1 class="mb-10 text-white">Pricing Plan</h1>
                        <p class="text-white">Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <div class="heading">
                                <h3>Standard</h3>
                                <span>Lorem ipsum</span>
                            </div>
                            <span class="price-value">$<span>10.9</span><span class="mo">/month</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li>50GB Disk Space</li>
                                <li>50 Email Accounts</li>
                                <li>50GB Monthly Bandwidth</li>
                                <li>50 Domains</li>
                                <li>Unlimited Subdomains</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->
                        <div class="pricingTable-sign-up">
                            <a href="#" class="btn btn-block btn-default">order now</a>
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <div class="heading">
                                <h3>Business</h3>
                                <span>Lorem ipsum</span>
                                <span class="sale-wrapper"><span class="sale">offer</span></span>
                            </div>
                            <span class="price-value">$<span>20.9</span><span class="mo">/month</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li>50GB Disk Space</li>
                                <li>50 Email Accounts</li>
                                <li>50GB Monthly Bandwidth</li>
                                <li>50 Domains</li>
                                <li>Unlimited Subdomains</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->
                        <div class="pricingTable-sign-up">
                            <a href="#" class="btn btn-block btn-default">order now</a>
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <div class="heading">
                                <h3>Premium</h3>
                                <span>Lorem ipsum</span>
                            </div>
                            <span class="price-value">$<span>30.9</span><span class="mo">/month</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li>50GB Disk Space</li>
                                <li>50 Email Accounts</li>
                                <li>50GB Monthly Bandwidth</li>
                                <li>50 Domains</li>
                                <li>Unlimited Subdomains</li>
                            </ul>
                        </div>
                        <!-- /  CONTENT BOX-->
                        <div class="pricingTable-sign-up">
                            <a href="#" class="btn btn-block btn-default">order now</a>
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <div class="heading">
                                <h3>Extra</h3>
                                <span>Lorem ipsum</span>
                            </div>
                            <span class="price-value">$<span>40.9</span><span class="mo">/month</span></span>
                        </div>

                        <div class="pricingContent">
                            <ul>
                                <li>50GB Disk Space</li>
                                <li>50 Email Accounts</li>
                                <li>50GB Monthly Bandwidth</li>
                                <li>50 Domains</li>
                                <li>Unlimited Subdomains</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricingTable-sign-up">
                            <a href="#" class="btn btn-block btn-default">order now</a>
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End pricing Area -->

    <!-- Start testimonial Area -->
    <section class="testimonial-area section-full">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-10">
                    <div class="title text-center">
                        <h1 class="mb-10">Testimonials</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 shdw pt-4 pb-4">
                    <div id="testimonial-slider" class="owl-carousel">
                        <div class="testimonial">
                            <div class="pic">
                                <img src="{% static 'img/test-1.jpg' %}" alt="">
                            </div>
                            <h3 class="testimonial-title">
                                Williamson<small>, Client</small>
                            </h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim diam, tempus vel ultricies viverra, luctus in elit. Aliquam tempus blandit velit, in pharetra ex volutpat a. Cras eu augue ac nisl tempor commodo.
                            </p>
                        </div>

                        <div class="testimonial">
                            <div class="pic">
                                <img src="{% static 'img/test-2.jpg' %}" alt="">
                            </div>
                            <h3 class="testimonial-title">
                                Julia<small>, Client</small>
                            </h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim diam, tempus vel ultricies viverra, luctus in elit. Aliquam tempus blandit velit, in pharetra ex volutpat a. Cras eu augue ac nisl tempor commodo.
                            </p>
                        </div>

                        <div class="testimonial">
                            <div class="pic">
                                <img src="{% static 'img/test-3.jpg' %}" alt="">
                            </div>
                            <h3 class="testimonial-title">
                                kristiana<small>, Client</small>
                            </h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim diam, tempus vel ultricies viverra, luctus in elit. Aliquam tempus blandit velit, in pharetra ex volutpat a. Cras eu augue ac nisl tempor commodo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End testimonial Area -->
{% endblock %}